:root { 
--gray_600:#777777; 
--gray_400:#c4c4c4; 
--blue_gray_50:#f1f1f1; 
--blue_gray_300:#94aabc; 
--light_blue_A400:#0dbbfc; 
--orange_A700:#fb5a00; 
--white_A700_2d:#ffffff2d; 
--blue_gray_900_1b:#0a26401b; 
--green_800:#009d0f; 
--green_A200:#65e4a3; 
--black_900_1e:#0000001e; 
--green_A200_01:#69e6a6; 
--amber_A700:#eba900; 
--indigo_200:#8fb6d5; 
--black_900:#000000; 
--green_A200_02:#4fe9a4; 
--blue_gray_900_00:#0a264000; 
--blue_gray_900_cc:#0a2640cc; 
--blue_gray_900:#0a2640; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}